* {
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    --main-text-color: rgb(5, 5, 5);
    --secondary-text-color: rgb(151, 151, 151);
}


.paint-member-photo img {
    height: 600px;
    max-width: 100%;
    margin-left: 320px;
}

.containercuadros {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}


.ficha-técnica {
    color: rgb(141, 141, 141);
    margin-left: 700px;
    font-size: 12px;
}

.click {
    height: 80px;
    max-width: 100%;
    vertical-align: middle;
    margin-left: 760px;
    margin-top: -720px;
    opacity: 0.4;
}



